{
    
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "parser":"babel-ts",
  "jsxSingleQuote": true
  }
  